---
import SocialIcons from '../SocialIcons.astro';
import './hero.css';
---

<section class="hero">
  <div class="hero__container">
    <div class="text__content">
      <h1 class="hero__title color__gradiente">Jonas Batista</h1>
      <p class="hero__text">Transformando ideias em experiências interativas com React.</p>
      <SocialIcons width="23" height="23" />
    </div>
    <img class="hero__img" src="/img/myPhoto.jpeg" alt="Jonas Batista" width="384" height="384" />
  </div>
</section>
