---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
  <div class="about__container">
    <div class="about__content">
      <Title margin="1rem" contenido="Sobre mim" />
      <p class="about__text">
        Sou desenvolvedor front-end com expertise em JavaScript e TypeScript, utilizando React para
        criar aplicações web modernas e responsivas. Tenho sólida experiência em HTML e CSS,
        garantindo interfaces intuitivas e atraentes. Também possuo conhecimentos em Node.js,
        permitindo-me desenvolver soluções integradas e completas.
      </p>
      <SocialIcons width="25" height="25" />
    </div>
  </div>
</section>
