---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="JonasBapt">
  <div class="terminal__skills">
    <div class="terminal__skills__container">
      <TerminalIcon src="/assets/javascript.svg" color="#f0db4f" name="JS" />
      <TerminalIcon src="/assets/react.svg" color="#00D1FF" name="React" />

      <TerminalIcon src="/assets/nodejs.svg" color="#F3CBC2" name="Node" />
      <TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
      <TerminalIcon src="/assets/html.svg" color="#ec6231" name="HTML" />
      <TerminalIcon src="/assets/typescript.svg" color="#3F75FF" name="Typecript" />
    </div>
  </div>
</Terminal>
